.folder {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin: 18px 0;
    font: 18px helvetica, arial, sans-serif;
    text-indent: 27px;
    line-height: 34px;
}

.folder .icon {
    content: "";
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #999;
    background: #ddd;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;
    -moz-transform: scale(1) rotate(0deg) translateX(10px) skewX(10deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(10px) skewX(10deg);
    -o-transform: scale(1) rotate(0deg) translateX(10px) skewX(10deg);
    -ms-transform: scale(1) rotate(0deg) translateX(10px) skewX(10deg);
    transform: scale(1) rotate(0deg) translateX(10px) skewX(10deg);
}

.folder .icon::after {
    content: "";
    display: block;
    position: relative;
    top: 7px;
    left: -6px;
    width: 30px; height: 21px;
    border: 2px solid #999;
    background: #ddd;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px;
    -moz-transform: scale(1) rotate(0deg) translateX(10px) skewX(-20deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(10px) skewX(-20deg);
    -o-transform: scale(1) rotate(0deg) translateX(10px) skewX(-20deg);
    -ms-transform: scale(1) rotate(0deg) translateX(10px) skewX(-20deg);
    transform: scale(1) rotate(0deg) translateX(10px) skewX(-20deg);
}